<div>
    <h1 class="notfound__h1 site-font">Oops!<br/>404<br/>Page Not Found</h1>
    <h2 class="notfound__h2-sad-face">:(</h2>
    <h2 class="notfound__h2">Did you mean to go somewhere else?</h2>

    <div class="notfound__links-bar">
        <a class="notfound__link" href="/">Home</a>
        <a class="notfound__link" href="/">Login</a>
        <a class="notfound__link" href="/register">Register</a>
    </div>
</div>
