<div>
    <form id="registerForm" action='/create' method='POST' class='registerForm'>
        <h1 class="formHeader">{{hello}}</h1>

        <input id="userName" class="formTextInput" type="text" name="username" placeholder="username"><br />
        <input id="userPword" class="formTextInput" type="password" name="password" placeholder="password"><br />
        <input id="userEmail" class="formTextInput" type="email" name="email" placeholder="email"><br />

        <input id="registerSubmit" class="formSubmitButton" type="submit" value="Register"><br />

        <a href="/" class="formLink">Have an account? Login</a>
    </form>
</div>
