{{> header/index}}
<h1>Welcome, {{username}}!</h1>
{{!-- this is the context being passed in for this template { username: "" } We are going to be adding to the more to this object as we add more to the application but for now that's all we need --}}
