<p>{{errors}}</p>

<div>
    <form id="loginForm" action='/login' method='POST' class='loginForm'>
        <h1 class="formHeader">{{hello}}</h1>

        <input id="userName" class="formTextInput" type="text" name="username" placeholder="username"><br />
        <input id="userPword" class="formTextInput" type="password" name="password" placeholder="password"><br />

        <input id="loginSubmit" class="formSubmitButton" type="submit" value="Login"><br />

        <a href="register" class="formLink">Don't have an account? Register</a>
    </form>
</div>
